* {
  box-sizing: border-box;
  margin: 0;
  background: black;
}


body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}


#galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-columns: repeat(104px, 1fr);
  grid-gap: 10px;
  padding: 10px;
  margin: 15px auto;
}

@media (max-width: 768px) {
  #galeria {
      grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
      grid-auto-rows: minmax(73px, auto);
  }
}
@media (min-width: 1024px) {
  #galeria {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-auto-rows: minmax(130px, auto);
  }
}

#galeria img {
  width: 100%;
  height: auto;
  border: solid 0.5px blue;
  border-radius: 5px;
  cursor: pointer;
}

#img-activa {
  border-radius: 5px;
  width: 400px;
  height: auto;
}

@media (max-width: 768px) {
  #img-activa {
    width: 300px;
    height: auto;
  }
}
@media (min-width: 1024px) {
  #img-activa {
    width: 450px;
    height: auto;
  }
}

#contenedor-principal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.55);
  display: none;
  justify-content: center;
  align-items: center;
}


#contenedor-interno {
  border: 2px white solid;
  padding: 2px;
  background: transparent;
  max-width: 410px;
  min-height: 209px;
  position: relative;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  #contenedor-interno {
    max-width: 310px;
    min-height: 156px;
  }
}
@media (min-width: 1024px) {
  #contenedor-interno {
    max-width: 510px;
    min-height: 261px;
  }
}

/*Botones*/

button {
  cursor: pointer;
  background: transparent;
  color: white;
}

#btn-cierra {
  position: absolute;
  top: 105%;
  left: 46%;
  font-size: 1rem;
}

#btn-retrocede {
  position: absolute;
  top: 105%;
  left: 0;
  font-size: 1rem;
}

#btn-adelanta {
  position: absolute;
  top: 105%;
  right: 0;
  font-size: 1rem;
}
